

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf");
}


@font-face {
        font-family: "RalewayBold";
        src: url("../fonts/Raleway-Bold.ttf");
        }
    

@font-face {
    font-family: "MuliRegular"; /* Имя шрифта */
    src: url("../fonts/Muli-Regular.ttf");
}

@font-face {
    font-family: "MuliB"; /* Имя шрифта */
    src: url("../fonts/Muli-Bold.ttf");
}

@font-face {
    font-family: "TitilliumWeb"; /* Имя шрифта */
    src: url("../fonts/TitilliumWeb-Bold.ttf");
}


